---
import { Image } from "astro:assets";
import ExternalLink from "@utils/ExternalLink.astro";
import MapDisplay from "@utils/MapDisplay.astro";
import engagementPhoto from "@images/engagement_shot1.jpg";
import house from "@images/house.jpg"
import bender from "@images/puppy.jpg"
import ixby from "@images/ixby.jpg"
import rings from "@images/rings.jpg"
import codeberg from "@images/codeberg.svg";
import logoDark from "@images/astronaut-logo-dark.svg";
import logoLight from "@images/astronaut-logo-light.svg";

const currentYear = new Date().getFullYear();
---

<div class="wrapper">

  <header>
    <h1>
      Sean and Annalise are getting married!
    </h1>
    <h1 class="sr-only">Sean And Annalise are getting Married!</h1>
    <Image alt="Photo of Us" src={engagementPhoto} height=900 width=900 />
    <h2>
      Saturday July 11th, 2026
    </h2>
  </header>

  <main id="main">
    <section aria-label="Table of contents">
      <h2>Table of contents</h2>
      <ul id="table-of-contents">
        <li>
          <a href="#eventDetails">Event Details</a><span aria-hidden="true"> 💥</span>
        </li>
        <li>
          <a href="#aboutUs">About Us</a><span aria-hidden="true"> 🔤</span>
        </li>
        <li>
          <a href="#gift">Gifts [Optional]</a><span aria-hidden="true"> 🌊</span>
        </li>
        <li>
          <a href="#submitphotos">Submit Photos</a><span aria-hidden="true">👀</span>
        </li>
        <li>
          <a href="#HowToGetToNL">How to Get Here</a><span aria-hidden="true"> 📥</span>
        </li>
        <li>
          <a href="#WhatElse">What Else to be at</a><span aria-hidden="true"> 📥</span>
        </li>
      </ul>
    </section>

    <section aria-label="Event Details">
      <h2 id="eventDetails">Event Details <span aria-hidden="true">💥</span></h2>
      <h3>The Ceremony</h3>
      <MapDisplay mapQuery="47.58922471265737,-52.72595755286161"/>
      <p>Date: <b>July 11, 2026</b>   Time: <b>1pm</b>   Location: <b>The Bonnycaste Green</b></p>
      <p>We're big fans of our neighbourhood (and our neighbours) so if felt like a natural choice to celebrate our wedding close to home! </p>
      <p>There will be a tent in case of mild Newfoundland weather. An alternate indoor location will be provided in case of truly inclement weather. </p>
      <p>As an aside: If it wasn't clear, this will taking place on grass, so plan shoes accordingly</p>
      <p>The ceremony will be followed by a champagne reception with cake and a few savory options. At some point we'll disappear for photos, but look forward to visiting with you until then!</p>
      <p>Please <b>RSVP</b> Here: <ExternalLink href="https://docs.google.com/forms/d/e/1FAIpQLSejQrjmdXUuOycCu8IlEtB2GhV7Vxsc3TKq3Xw3LL7wd9WrUA/viewform?usp=publish-editor" name="Google Forms"/> by April 1st</p>
      <br/>
      <h3>Dinner</h3>
      <p>
        Family and Friends from away have will have received a separate invite to a dinner. More details about that here: <ExternalLink href="" name="Dinner Deets"/> 
      </p>
    </section>

    <section aria-label="About Us">
      <h2 id="aboutUs">About Us <span aria-hidden="true">🔤</span></h2>
      <p>
        Sean and Annalise defied the odds and hatched a sucessfull relationship using "The Apps" at the end of 2018. 
        From there they bought a house - a year + a day after their first date. 
      </p>
      <Image alt="Photo of House" src={house} height=300 width=600 />   
        
      <p>This was good timing because almost immediately Snowmaggeddon and COVID happened and we weren't allowed to leave it.
        Then there was Bender
      </p>
      <Image alt="Photo of Bender" src={bender} height=300 width=600 />       
      <p>And then Ixby</p>
      <Image alt="Photo of Ixby" src={ixby} height=300 width=600 />
      <p>And now, admittedly somewhat out of order, this!</p>
      <Image alt="Photo of Rings" src={rings} height=300 width=600 />
    </section>

    <section aria-label="Gifts">
      <h2 id="gift">Gifts [Optional] <span aria-hidden="true">🌊</span>
      </h2>
      <p>
        We're not asking for gifts - we know it's an ordeal for many of you to get here. So, as much as it's cliché, your presence is our present.
      </p>
      <p>
        But if you insist, we did do up a <ExternalLink href="https://www.myregistry.com/wedding-registry/sean-jessome-and-annalise-smith-st-john-s-nl/5101148" name="MyRegistry.com"/> registy with some fancy things we'd never buy ourseleves as well as a straight-up donate link
        to help finance a ?honeymoon?
      </p>
      <p>But seriously, we're not asking for gifts.</p>
    </section>

    <section aria-label="Submit Photos">
      <h2 id="submitphotos">Submit Photos<span aria-hidden="true">👀</span>
      </h2>
      <p>
        After the wedding is all said and done and you captured some fun moments on your phones - share them with us!

        We've set up a [thing] when you can upload photos :) <ExternalLink href="." name="UploadLink"/>
      </p>
    </section>

    <section aria-label="How to Get to NL">
      <h2 id="HowToGetToNL">How to Get to NL<span aria-hidden="true">👀</span> </h2>
      <p>For Details on how to get to the Island. Click here: <ExternalLink href="./howtogethere" name="How to Get to NL"/> </p>
    </section>
    <section aria-label="What Else to Be At">
      <h2 id="WhatElse">What Else?<span aria-hidden="true">👀</span> </h2>
      <p>We put together a little tour guide for the n00bs. Click here: <ExternalLink href="./whatelse" name="Tour Guide"/> </p>
    </section>
  </main>
</div>

<footer>
  <p>&copy; {currentYear} Sean and Annalise</p>
</footer>

<style>
  .wrapper {
    margin: 0 auto;
    max-width: 50%;
    padding: 0 var(--space-s);
    /*display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;*/
  }

  img {
    height: auto;
    margin: var(--space-l) 0;
  }

  section {
    margin: var(--space-2xl) 0;
  }

  .button-wrapper {
    margin: var(--space-xl) 0;
  }

  #template-button {
    align-items: center;
    background: var(--color-green);
    border-radius: var(--border-radius);
    box-shadow: 0px 0px 30px 0px var(--color-green);
    color: var(--color-white);
    display: flex;
    flex-wrap: wrap;
    font-size: var(--step-2);
    gap: var(--space-xs);
    margin: 0 auto;
    padding: var(--space-2xs) var(--space-xs);
    text-decoration: none;
    width: fit-content;
  }

  #template-button:focus,
  #template-button:hover {
    box-shadow: none;
  }

  #template-button img {
    margin: 0;
  }

  #template-text {
    font-size: var(--step-0);
    margin: var(--space-2xs) auto 0 auto;
    width: fit-content;
  }

  #template-text a {
    font-size: var(--step-0);
  }

  #template-text a::after {
    content: " ↪";
  }

  h2 {
    margin-bottom: var(--space-xs);
  }

  p {
    margin: 0;
  }

  p + p {
    margin-top: var(--space-s);
  }

  pre {
    background: var(--color-grey-dark);
    border: 1px solid var(--color-grey-light);
    border-radius: var(--border-radius);
    font-size: var(--step-0);
    color: var(--color-yellow);
    overflow: auto;
    padding: var(--space-s);
    white-space: nowrap;
  }

  code {
    word-break: break-all;
  }

  .code-block {
    color: var(--color-yellow) !important;
  }

  li {
    margin: 0;
  }

  .smol {
    font-size: var(--step-0);
  }

  footer {
    border-top: 1px solid var(--color-grey-dark);
    text-align: center;
    margin-top: var(--space-3xl);
    padding: var(--space-l) 0;
  }

  footer p {
    font-size: var(--step-0);
  }

  .light {
    display: none;
  }
  .dark {
    display: initial;
  }

  @media (prefers-color-scheme: light) {
    .light {
      display: initial;
    }
    .dark {
      display: none;
    }
    #template-button {
      background: var(--color-orange);
      box-shadow: 0px 0px 30px 0px var(--color-orange);
      color: var(--color-black);
    }
    #template-button img {
      filter: invert(1);
    }
  }

  @media (prefers-contrast: more) {
    #template-button {
      background: darkgreen;
      box-shadow: 0px 0px 30px 0px darkgreen;
      color: #fff;
    }

    @media (max-width: 768px) {
    .wrapper{
    background-color: red ;
    }
    }
</style>
